<section id="about">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 about" data-aos="fade-up">
                <h2>Hi<span>!</span></h2>
                <h1>I’m <span>Manik</span></h1>
                <div id="career-text">
                    <h2>a <span id="career"></span><span class="typing-cursor"></span></h2>
                </div>
                <p id="career-description">I enjoy crafting user-centric, delightful, and intuitive web experiences.</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12" data-aos="fade-up">
                <img class="image" src="https://i.ibb.co/zGzqfFD/Logopit-1718282588650.png" alt="">
            </div>
        </div>
    </div>
</section>

<script src="js/about.js"></script>