<section id="contact">
    <div class="container text-center" data-aos="fade-up">
        <h2>Let's Connect</h2>
        <p>Feel free to reach out for collaborations or just a friendly hello 😀</p>
        <p><a href="mailto:sheoranmanik@gmail.com" style="color: #de0f66; text-decoration: none;">
                sheoranmanik@gmail.com
            </a></p>
        <!-- Social Media Links -->
        <div class="contact-social">

            <a href="https://x.com/maniksheoran" target="_blank">
                <i class="fa-brands fa-x-twitter fa-2x"></i>
            </a>
            <a href="https://linkedin.com/in/maniksheoran" target="_blank">
                <i class="fab fa-linkedin fa-2x"></i>
            </a>
            <a href="https://github.com/maniksheoran" target="_blank">
                <i class="fab fa-github fa-2x"></i>
            </a>
        </div>
        <div class="contact-social upicon">
            <a href="#">
                <i class="fa-solid fa-circle-chevron-up fa-2x"></i>
            </a>
        </div>
    </div>
</section>