<nav class="navbar navbar-expand-lg">
    <div class="container-fluid" data-aos="fade-up">
        <a class="navbar-brand" href="#"><img src="https://i.ibb.co/ngqSmy4/Logopit-1718362746344.png" alt=""
                height="40"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0" style="order: 2;">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" style="text-decoration: 2px underline #de0f66"
                        href="#">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#skills">SKILLS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#projects">PROJECTS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">CONTACT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link resume" href="public/resume">RESUME</a>
                </li>
            </ul>

        </div>
    </div>
</nav>