<section id="skills">
    <div class="container text-center" data-aos="fade-up">
        <h3>Skills</h3>
        <p class="section-subtitle">Coding Spells I Master</p>
        <div class="row justify-content-center">

            <div class="col-lg-3 col-md-3 col-sm-6 col-6 skill-box" data-aos="zoom-in">
                <div class="skill-content">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/1869px-Python-logo-notext.svg.png"
                        alt="">
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-6 skill-box" data-aos="zoom-in">
                <div class="skill-content">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/6/6a/JavaScript-logo.png" alt="">
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-6 skill-box" data-aos="zoom-in">
                <div class="skill-content">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/C_Programming_Language.svg/1853px-C_Programming_Language.svg.png"
                        alt="">
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-6 skill-box" data-aos="zoom-in">
                <div class=" skill-content">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/b/b2/Bootstrap_logo.svg" alt="">
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-6 skill-box" data-aos="zoom-in">
                <div class="skill-content">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/2048px-HTML5_logo_and_wordmark.svg.png"
                        alt="">
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-6 skill-box" data-aos="zoom-in">
                <div class="skill-content">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/62/CSS3_logo.svg/1024px-CSS3_logo.svg.png"
                        alt="">
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-6 skill-box" data-aos="zoom-in">
                <div class="skill-content">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Node.js_logo_2015.svg/2560px-Node.js_logo_2015.svg.png"
                        alt="">
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-6 skill-box" data-aos="zoom-in">
                <div class="skill-content">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/93/MongoDB_Logo.svg/1280px-MongoDB_Logo.svg.png"
                        alt="">
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-6 skill-box" data-aos="zoom-in">
                <div class="skill-content">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmrGmeBv3SOLSKz6OlTVlVYkfH9_W3BBgdrA&s"
                        alt="">
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-6 skill-box" data-aos="zoom-in">
                <div class="skill-content">
                    <img src="https://flask.palletsprojects.com/en/3.0.x/_images/flask-horizontal.png" alt="">
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-6 skill-box" data-aos="zoom-in">
                <div class="skill-content">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/d/d5/Selenium_Logo.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>